# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [9]:
import sys
sys.executable

'/Users/thiagoalves/miniconda3/envs/pandas_cub/bin/python'

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [12]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [17]:

df = pdc.DataFrame({'a': name,'b': name,'thiahitiathia': name,'dshuadsdhai': name,'dsodkasokdpa': name,'daysurdusduasda': name,'dsijdtaosjdaosijdosad': name,'hdusahdisaiasihdia': name,'djssaijdsaojdiasjodaoa': name, 'dsijdaosjdaosijddosad': name,'dsijdaosjdaosijdoslad': name,'dsijdaosjdposijdosad': name,'dsijdaosjdaosijdoosad': name,'dsijdaosjdyaosijdosad': name})

In [18]:
df

In [7]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130